# üíª **Introduction - Data Cleaning**

Data cleaning adalah suatu prosedur untuk memastikan kebenaran, konsistensi, dan kegunaan suatu data yang ada dalam dataset. Caranya adalah dengan mendeteksi adanya error atau corrupt pada data, kemudian memperbaiki atau menghapus data jika memang diperlukan.

Proses data cleaning yang sering dilakukan adalah sebagai berikut

<li>Handling Missing Value</li>
<li>Redudansi Data (Data Duplikat)</li>
<li>Handling Outlier</li>
<li>Standarisasi Format Nilai</li>

Pada contoh dibawah ini akan dilakukan beberapa tahapan cleaning data dengan dataset yang telah disediakan

# üèÉüèª‚Äç‚ôÇÔ∏è **A. First Step : Data yang Digunakan**

Data yang digunakan adalah data penjualan

In [46]:
# Import library yang dibutuhkan
import pandas as pd
import warnings

# Ignore all warnings
warnings.filterwarnings('ignore')

# Proses ekstraksi data
data_inventory = pd.read_excel('/content/DQToys Inventory.xlsx', engine = 'openpyxl')

# Tampilkan data
display(data_inventory)

,sale_id,date,product_name,product_category,product_cost,product_price,units,store_name,store_city,store_location,store_open_date,stock_on_hand
0,1.0,01/01/2017,Chutes & Ladders,Games,Rp. 158629,Rp. 206265,1,DQToys Padang 1,PADANG,Downtown,2010-07-31,1.0
1,NaN,NaN,Action Figure,Toys,Rp. 158629,Rp. 253901,1,DQToys Jayapura 2,Jayapura,Downtown,2011-04-01,6.0
2,3.0,01/01/2017,Deck Of Cards,Games,Rp. 63356,Rp. 110992,1,DQToys Semarang 1,Semarang,Commercial,2003-12-13,50.0
3,4.0,01/01/2017,Dart Gun,Sports & Outdoors,Rp. 190386,Rp. 253901,1,DQToys Medan 2,Medan,Commercial,2016-03-23,28.0
4,5.0,01/01/2017,Lego Bricks,Toys,Rp. 555597,Rp. 634991,1,DQToys Jayapura 3,JAYAPURA,Residential,2014-12-27,117.0
...,...,...,...,...,...,...,...,...,...,...,...,...
199995,199996.0,02/07/2017,Deck Of Cards,Games,Rp. 63356,Rp. 110992,1,DQToys Banda Aceh 1,Banda Aceh,Commercial,2010-06-12,32.0
199996,199997.0,02/07/2017,PlayDoh Can,Art & Crafts,Rp. 31599,Rp. 47477,1,DQToys Samarinda 1,Samarinda,Downtown,2008-08-22,74.0
199997,NaN,NaN,Animal Figures,Toys,Rp. 158629,Rp. 206265,3,DQToys Samarinda 1,Samarinda,Downtown,2008-08-22,12.0
199998,NaN,02/07/2017,Deck Of Cards,Games,Rp. 63356,Rp. 110992,2,DQToys Surabaya 1,Surabaya,Residential,1992-09-18,63.0
199999,NaN,NaN,PlayDoh Can,Art & Crafts,Rp. 31599,Rp. 47477,1,DQToys Banjarmasin 2,BANJARMASIN,Commercial,2014-05-27,13.0

Berikut deskripsi singkat untuk tiap kolom:

1. **sale_id**: ID unik untuk transaksi penjualan.
2. **date**: Tanggal terjadinya transaksi penjualan.
3. **product_name**: Nama produk yang dijual.
4. **product_category**: Kategori produk.
5. **product_cost**: Biaya perolehan produk.
6. **product_price**: Harga jual produk.
7. **units**: Jumlah unit produk yang terjual.
8. **store_name**: Nama toko tempat penjualan.
9. **store_city**: Kota tempat toko berada.
10. **store_location**: Lokasi spesifik toko.
11. **store_open_date**: Tanggal toko dibuka.
12. **stock_on_hand**: Jumlah stok produk yang tersedia di toko.
'

In [2]:
# Memperoleh informasi umum pada data
data_inventory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   sale_id           199990 non-null  float64
 1   date              199994 non-null  object
 2   product_name      200000 non-null  object
 3   product_category  200000 non-null  object
 4   product_cost      200000 non-null  object
 5   product_price     199995 non-null  object
 6   units             200000 non-null  int64
 7   store_name        200000 non-null  object
 8   store_city        200000 non-null  object
 9   store_location    200000 non-null  object
 10  store_open_date   200000 non-null  object
 11  stock_on_hand     199034 non-null  float64
dtypes: float64(2), int64(1), object(9)
memory usage: 18.3+ MB

# üìù **B. Standarisasi Data**

Standarisasi data perlu dilakukan, karena :

* Standarisasi membantu memastikan bahwa semua fitur atau variabel dalam dataset memiliki konsistensi
* Mempermudah dalam melakukan proses analisa
* Menyeragamkan data, skema dan metadata lain yang disimpan ke basis data
* dll

Standarisasi data yang biasanya dilakukan adalah :      
* Menyeragamkan format tanggal (YYYY-MM-DD)
* Menyeragamkan format *free text*
* Mentransformasi tipe data yang sesuai
* dll

### üë®‚Äçüíª Task B1

Pada dataframe `data_inventory`, Ubah format date DD/MM/YYYY pada kolom date di `data_inventory` menjadi format YYYY-MM-DD

Note : Untuk mengubah string menjadi format datetime gunakan sintaks berikut

```
pd.to_datetime(Series, format)
```

<p align="right"><sup>docs : <i><a href="https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html">https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html</i></sup></a></p>

Lalu lanjutkan dengan sintaks berikut untuk merubah format menjadi format yang diinginkan

```
Series.dt.strftime(format_yang_diinginkan)
```
<p align="right"><sup>docs : <i><a href="https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.strftime.html">https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.strftime.html</i></sup></a></p>

In [6]:
# untuk mengganti format sesuai keinginan
data_inventory['date'].dt.strftime('%d %B %Y')

0         01 January 2017
1                     NaN
2         01 January 2017
3         01 January 2017
4         01 January 2017
               ...
199995       02 July 2017
199996       02 July 2017
199997                NaN
199998       02 July 2017
199999                NaN
Name: date, Length: 200000, dtype: object

In [3]:
data_inventory['date'].unique()
# untuk mengetahui format tanggal yang unique

array(['01/01/2017', nan, '02/01/2017', '03/01/2017', '04/01/2017',
       '05/01/2017', '06/01/2017', '07/01/2017', '08/01/2017',
       '09/01/2017', '10/01/2017', '11/01/2017', '12/01/2017',
       '13/01/2017', '14/01/2017', '15/01/2017', '16/01/2017',
       '17/01/2017', '18/01/2017', '19/01/2017', '20/01/2017',
       '21/01/2017', '22/01/2017', '23/01/2017', '24/01/2017',
       '25/01/2017', '26/01/2017', '27/01/2017', '28/01/2017',
       '29/01/2017', '30/01/2017', '31/01/2017', '01/02/2017',
       '02/02/2017', '03/02/2017', '04/02/2017', '05/02/2017',
       '06/02/2017', '07/02/2017', '08/02/2017', '09/02/2017',
       '10/02/2017', '11/02/2017', '12/02/2017', '13/02/2017',
       '14/02/2017', '15/02/2017', '16/02/2017', '17/02/2017',
       '18/02/2017', '19/02/2017', '20/02/2017', '21/02/2017',
       '22/02/2017', '23/02/2017', '24/02/2017', '25/02/2017',
       '26/02/2017', '27/02/2017', '28/02/2017', '01/03/2017',
       '02/03/2017', '03/03/2017', '04/03/2017', '05/03/2017',
       '06/03/2017', '07/03/2017', '08/03/2017', '09/03/2017',
       '10/03/2017', '11/03/2017', '12/03/2017', '13/03/2017',
       '14/03/2017', '15/03/2017', '16/03/2017', '17/03/2017',
       '18/03/2017', '19/03/2017', '20/03/2017', '21/03/2017',
       '22/03/2017', '23/03/2017', '24/03/2017', '25/03/2017',
       '26/03/2017', '27/03/2017', '28/03/2017', '29/03/2017',
       '30/03/2017', '31/03/2017', '01/04/2017', '02/04/2017',
       '03/04/2017', '04/04/2017', '05/04/2017', '06/04/2017',
       '07/04/2017', '08/04/2017', '09/04/2017', '10/04/2017',
       '11/04/2017', '12/04/2017', '13/04/2017', '14/04/2017',
       '15/04/2017', '16/04/2017', '17/04/2017', '18/04/2017',
       '19/04/2017', '20/04/2017', '21/04/2017', '22/04/2017',
       '23/04/2017', '24/04/2017', '25/04/2017', '26/04/2017',
       '27/04/2017', '28/04/2017', '29/04/2017', '30/04/2017',
       '01/05/2017', '02/05/2017', '03/05/2017', '04/05/2017',
       '05/05/2017', '06/05/2017', '07/05/2017', '08/05/2017',
       '09/05/2017', '10/05/2017', '11/05/2017', '12/05/2017',
       '13/05/2017', '14/05/2017', '15/05/2017', '16/05/2017',
       '17/05/2017', '18/05/2017', '19/05/2017', '20/05/2017',
       '21/05/2017', '22/05/2017', '23/05/2017', '24/05/2017',
       '25/05/2017', '26/05/2017', '27/05/2017', '28/05/2017',
       '29/05/2017', '30/05/2017', '31/05/2017', '01/06/2017',
       '02/06/2017', '03/06/2017', '04/06/2017', '05/06/2017',
       '06/06/2017', '07/06/2017', '08/06/2017', '09/06/2017',
       '10/06/2017', '11/06/2017', '12/06/2017', '13/06/2017',
       '14/06/2017', '15/06/2017', '16/06/2017', '17/06/2017',
       '18/06/2017', '19/06/2017', '20/06/2017', '21/06/2017',
       '22/06/2017', '23/06/2017', '24/06/2017', '25/06/2017',
       '26/06/2017', '27/06/2017', '28/06/2017', '29/06/2017',
       '30/06/2017', '01/07/2017', '02/07/2017'], dtype=object)

In [4]:
# Convert to datetime object
data_inventory['date'] = pd.to_datetime(data_inventory['date'], format='%d/%m/%Y')

# Tampilkan hasilnya
display(data_inventory)

,sale_id,date,product_name,product_category,product_cost,product_price,units,store_name,store_city,store_location,store_open_date,stock_on_hand
0,1.0,2017-01-01,Chutes & Ladders,Games,Rp. 158629,Rp. 206265,1,DQToys Padang 1,PADANG,Downtown,2010-07-31,1.0
1,NaN,NaT,Action Figure,Toys,Rp. 158629,Rp. 253901,1,DQToys Jayapura 2,Jayapura,Downtown,2011-04-01,6.0
2,3.0,2017-01-01,Deck Of Cards,Games,Rp. 63356,Rp. 110992,1,DQToys Semarang 1,Semarang,Commercial,2003-12-13,50.0
3,4.0,2017-01-01,Dart Gun,Sports & Outdoors,Rp. 190386,Rp. 253901,1,DQToys Medan 2,Medan,Commercial,2016-03-23,28.0
4,5.0,2017-01-01,Lego Bricks,Toys,Rp. 555597,Rp. 634991,1,DQToys Jayapura 3,JAYAPURA,Residential,2014-12-27,117.0
...,...,...,...,...,...,...,...,...,...,...,...,...
199995,199996.0,2017-07-02,Deck Of Cards,Games,Rp. 63356,Rp. 110992,1,DQToys Banda Aceh 1,Banda Aceh,Commercial,2010-06-12,32.0
199996,199997.0,2017-07-02,PlayDoh Can,Art & Crafts,Rp. 31599,Rp. 47477,1,DQToys Samarinda 1,Samarinda,Downtown,2008-08-22,74.0
199997,NaN,NaT,Animal Figures,Toys,Rp. 158629,Rp. 206265,3,DQToys Samarinda 1,Samarinda,Downtown,2008-08-22,12.0
199998,NaN,2017-07-02,Deck Of Cards,Games,Rp. 63356,Rp. 110992,2,DQToys Surabaya 1,Surabaya,Residential,1992-09-18,63.0
199999,NaN,NaT,PlayDoh Can,Art & Crafts,Rp. 31599,Rp. 47477,1,DQToys Banjarmasin 2,BANJARMASIN,Commercial,2014-05-27,13.0

In [5]:
data_inventory['date'].dt.month_name()

0         January
1             NaN
2         January
3         January
4         January
           ...
199995       July
199996       July
199997        NaN
199998       July
199999        NaN
Name: date, Length: 200000, dtype: object

### üë®‚Äçüíª Task B2

Pada dataframe `data_inventory`, hapus simbol currency (Rp. ) pada kolom `product_cost` dan `product_price` kemudian konversi tipe datanya menjadi float

Untuk mengubah suatu string menjadi string yang lain gunakan sintaks

```
Series.str.replace(pat, repl, regex = False)
```

<p align="right"><sup>docs : <i><a href="https://pandas.pydata.org/docs/reference/api/pandas.Series.str.replace.html">https://pandas.pydata.org/docs/reference/api/pandas.Series.str.replace.html</i></sup></a></p>

Sedangkan untuk mengubah / mentransformasi tipedata gunakan

```
Series.astype(dtipe)
```

<p align="right"><sup>docs : <i><a href="https://pandas.pydata.org/docs/reference/api/pandas.Series.astype.html">https://pandas.pydata.org/docs/reference/api/pandas.Series.astype.html</i></sup></a></p>

In [21]:
data_inventory.head()

,sale_id,date,product_name,product_category,product_cost,product_price,units,store_name,store_city,store_location,store_open_date,stock_on_hand
0,1.0,01/01/2017,Chutes & Ladders,Games,Rp. 158629,Rp. 206265,1,DQToys Padang 1,PADANG,Downtown,2010-07-31,1.0
1,NaN,NaN,Action Figure,Toys,Rp. 158629,Rp. 253901,1,DQToys Jayapura 2,Jayapura,Downtown,2011-04-01,6.0
2,3.0,01/01/2017,Deck Of Cards,Games,Rp. 63356,Rp. 110992,1,DQToys Semarang 1,Semarang,Commercial,2003-12-13,50.0
3,4.0,01/01/2017,Dart Gun,Sports & Outdoors,Rp. 190386,Rp. 253901,1,DQToys Medan 2,Medan,Commercial,2016-03-23,28.0
4,5.0,01/01/2017,Lego Bricks,Toys,Rp. 555597,Rp. 634991,1,DQToys Jayapura 3,JAYAPURA,Residential,2014-12-27,117.0

In [23]:
# Hapus currency (Rp. ) pada kolom product_cost
data_inventory['product_cost'] = data_inventory['product_cost'].str.replace('Rp. ', '')

# Transformasi tipe data kolom product_cost menjadi float
data_inventory['product_cost'] = data_inventory['product_cost'].astype(float)

data_inventory.head()

,sale_id,date,product_name,product_category,product_cost,product_price,units,store_name,store_city,store_location,store_open_date,stock_on_hand
0,1.0,01/01/2017,Chutes & Ladders,Games,158629.0,Rp. 206265,1,DQToys Padang 1,PADANG,Downtown,2010-07-31,1.0
1,NaN,NaN,Action Figure,Toys,158629.0,Rp. 253901,1,DQToys Jayapura 2,Jayapura,Downtown,2011-04-01,6.0
2,3.0,01/01/2017,Deck Of Cards,Games,63356.0,Rp. 110992,1,DQToys Semarang 1,Semarang,Commercial,2003-12-13,50.0
3,4.0,01/01/2017,Dart Gun,Sports & Outdoors,190386.0,Rp. 253901,1,DQToys Medan 2,Medan,Commercial,2016-03-23,28.0
4,5.0,01/01/2017,Lego Bricks,Toys,555597.0,Rp. 634991,1,DQToys Jayapura 3,JAYAPURA,Residential,2014-12-27,117.0

In [25]:
# Hapus currency (Rp. ) pada kolom product_price
data_inventory['product_price'] = data_inventory['product_price'].str.replace('Rp. ', '')

# Transformasi tipe data kolom product_cost menjadi float
data_inventory['product_price'] = data_inventory['product_price'].astype(float)

data_inventory.head()

,sale_id,date,product_name,product_category,product_cost,product_price,units,store_name,store_city,store_location,store_open_date,stock_on_hand
0,1.0,01/01/2017,Chutes & Ladders,Games,158629.0,NaN,1,DQToys Padang 1,PADANG,Downtown,2010-07-31,1.0
1,NaN,NaN,Action Figure,Toys,158629.0,NaN,1,DQToys Jayapura 2,Jayapura,Downtown,2011-04-01,6.0
2,3.0,01/01/2017,Deck Of Cards,Games,63356.0,NaN,1,DQToys Semarang 1,Semarang,Commercial,2003-12-13,50.0
3,4.0,01/01/2017,Dart Gun,Sports & Outdoors,190386.0,NaN,1,DQToys Medan 2,Medan,Commercial,2016-03-23,28.0
4,5.0,01/01/2017,Lego Bricks,Toys,555597.0,NaN,1,DQToys Jayapura 3,JAYAPURA,Residential,2014-12-27,117.0

In [ ]:
# Tampilkan hasilnya
display(data_inventory)

,sale_id,date,product_name,product_category,product_cost,product_price,units,store_name,store_city,store_location,store_open_date,stock_on_hand
0,1,2017-01-01,Chutes & Ladders,Games,158629.0,206265.0,1,DQToys Padang 1,PADANG,Downtown,2010-07-31,1.0
1,NaN,NaN,Action Figure,Toys,158629.0,253901.0,1,DQToys Jayapura 2,Jayapura,Downtown,2011-04-01,6.0
2,3,2017-01-01,Deck Of Cards,Games,63356.0,110992.0,1,DQToys Semarang 1,Semarang,Commercial,2003-12-13,50.0
3,4,2017-01-01,Dart Gun,Sports & Outdoors,190386.0,253901.0,1,DQToys Medan 2,Medan,Commercial,2016-03-23,28.0
4,5,2017-01-01,Lego Bricks,Toys,555597.0,634991.0,1,DQToys Jayapura 3,JAYAPURA,Residential,2014-12-27,117.0
...,...,...,...,...,...,...,...,...,...,...,...,...
199995,199996,2017-07-02,Deck Of Cards,Games,63356.0,110992.0,1,DQToys Banda Aceh 1,Banda Aceh,Commercial,2010-06-12,32.0
199996,199997,2017-07-02,PlayDoh Can,Art & Crafts,31599.0,47477.0,1,DQToys Samarinda 1,Samarinda,Downtown,2008-08-22,74.0
199997,NaN,NaN,Animal Figures,Toys,158629.0,206265.0,3,DQToys Samarinda 1,Samarinda,Downtown,2008-08-22,12.0
199998,None,2017-07-02,Deck Of Cards,Games,63356.0,110992.0,2,DQToys Surabaya 1,Surabaya,Residential,1992-09-18,63.0
199999,NaN,NaN,PlayDoh Can,Art & Crafts,31599.0,47477.0,1,DQToys Banjarmasin 2,BANJARMASIN,Commercial,2014-05-27,13.0

### üë®‚Äçüíª Task B3

Pada dataframe `data_inventory`, Ubah semua nilai yang ada di kolom store_name & store_city menjadi uppercase (kapital semua)<br>

Note :
Gunakan sintaks berikut untuk mengubah kolom / series menjadi uppercase

```
Series.str.upper()
```

<p align="right"><sup>docs : <i><a href="https://pandas.pydata.org/docs/reference/api/pandas.Series.str.upper.html">https://pandas.pydata.org/docs/reference/api/pandas.Series.str.upper.html</i></sup></a></p>

In [ ]:
# Ubah kolom store_name menjadi uppercase semua
data_inventory['store_name'] = data_inventory['store_name'].str.upper()

# Ubah kolom store_city menjadi uppercase semua
data_inventory['store_city'] = data_inventory['store_city'].str.upper()

# Tampilkan hasilnya
display(data_inventory)

,sale_id,date,product_name,product_category,product_cost,product_price,units,store_name,store_city,store_location,store_open_date,stock_on_hand
0,1,2017-01-01,Chutes & Ladders,Games,158629.0,206265.0,1,DQTOYS PADANG 1,PADANG,Downtown,2010-07-31,1.0
1,NaN,NaN,Action Figure,Toys,158629.0,253901.0,1,DQTOYS JAYAPURA 2,JAYAPURA,Downtown,2011-04-01,6.0
2,3,2017-01-01,Deck Of Cards,Games,63356.0,110992.0,1,DQTOYS SEMARANG 1,SEMARANG,Commercial,2003-12-13,50.0
3,4,2017-01-01,Dart Gun,Sports & Outdoors,190386.0,253901.0,1,DQTOYS MEDAN 2,MEDAN,Commercial,2016-03-23,28.0
4,5,2017-01-01,Lego Bricks,Toys,555597.0,634991.0,1,DQTOYS JAYAPURA 3,JAYAPURA,Residential,2014-12-27,117.0
...,...,...,...,...,...,...,...,...,...,...,...,...
199995,199996,2017-07-02,Deck Of Cards,Games,63356.0,110992.0,1,DQTOYS BANDA ACEH 1,BANDA ACEH,Commercial,2010-06-12,32.0
199996,199997,2017-07-02,PlayDoh Can,Art & Crafts,31599.0,47477.0,1,DQTOYS SAMARINDA 1,SAMARINDA,Downtown,2008-08-22,74.0
199997,NaN,NaN,Animal Figures,Toys,158629.0,206265.0,3,DQTOYS SAMARINDA 1,SAMARINDA,Downtown,2008-08-22,12.0
199998,None,2017-07-02,Deck Of Cards,Games,63356.0,110992.0,2,DQTOYS SURABAYA 1,SURABAYA,Residential,1992-09-18,63.0
199999,NaN,NaN,PlayDoh Can,Art & Crafts,31599.0,47477.0,1,DQTOYS BANJARMASIN 2,BANJARMASIN,Commercial,2014-05-27,13.0

---

# **üö´ C. *Missing Data***

*Missing data*, juga dikenal sebagai data yang hilang, merujuk pada keadaan di mana tidak ada nilai yang tersedia atau tercatat untuk satu atau lebih variabel dalam kumpulan data. Dalam konteks analisis data, *missing data* terjadi ketika ada kekosongan atau ketidakhadiran informasi dalam dataset yang sedang dianalisis.

Data yang hilang dapat berupa nilai yang sebenarnya tidak diketahui atau tidak ada (misalnya, orang yang tidak merespons pertanyaan dalam survei), atau bisa juga berupa nilai yang hilang secara tidak sengaja (misalnya, kesalahan entri data)

*Missing data* dapat memiliki dampak yang signifikan pada analisis data dan interpretasi hasilnya. Ketika data yang hilang tidak diperlakukan dengan benar, dapat menyebabkan bias, pengurangan ukuran sampel, pengurangan efisiensi statistik, kesulitan dalam analisis, atau kesalahan interpretasi. Perhatikan contoh berikut :<br>

**[Contoh Kasus]** Sebuah toko ingin memeriksa seberapa besar *Salary* pelanggan mempengaruhi tingkat kumulatif *Spending Money* perminggu di tokonya. Diberikan data sebagai berikut
<center>
<table>
  <tr>
    <td align="center">Loyalty</td>
    <td align="center">Salary</td>
    <td align="center">Spend</td>
  </tr>
  <tr>
    <td align="center">Silver</td>
    <td align="center">4.500.000</td>
    <td align="center">250.000</td>
  </tr>
  <tr>
    <td align="center">Silver</td>
    <td align="center">4.750.000</td>
    <td align="center">NULL</td>
  </tr>
  <tr>
    <td align="center">Silver</td>
    <td align="center">5.200.000</td>
    <td align="center">NULL</td>
  </tr>
  <tr>
    <td align="center">Gold</td>
    <td align="center">NULL</td>
    <td align="center">110.000</td>
  </tr>
  <tr>
    <td align="center">Gold</td>
    <td align="center">NULL</td>
    <td align="center">89.000</td>
  </tr>
  <tr>
    <td align="center">Gold</td>
    <td align="center">10.000.000</td>
    <td align="center">NULL</td>
  </tr>
  <tr>
    <td align="center">Gold</td>
    <td align="center">10.750.000</td>
    <td align="center">0</td>
  </tr>
  <tr>
    <td align="center">Gold</td>
    <td align="center">11.500.000</td>
    <td align="center">800.000</td>
  </tr>
</table>
</center>

<br>

**[Jawab]** : Untuk menjawab persoalan tersebut dapat menggunakan analisa regresi sederhana

Bentuk umum Regresi Linear Sederhana adalah sebagai berikut

\begin{equation}
y = m\cdot x + b
\end{equation}

dengan :   
<ul>  
<li>ùë¶ = variabel dependen</li>
<li>ùë• = variabel independen</li>
<li>ùëö = slope / kemiringan (angka ini menyatakan perubahan nilai Y saat kenaikan satu satuan nilai X)</li>
<li>ùëè = intersep, angka ini menyatakan nilai ùë¶ saat nilai ùë• = 0</li>
</ul>

ùëö dan ùëè dirumuskan sebagai berikut :

<img src="https://i.stack.imgur.com/JxedC.jpg">

Menurut kalian, apakah perhitungan diatas mungkin dilakukan jika masih mengandung data yang hilang?
<br><br>
<p align="right"><sup>docs : <i><a href="https://pandas.pydata.org/docs/user_guide/missing_data.html">https://pandas.pydata.org/docs/user_guide/missing_data.html</i></sup></a></p>

<h3><b>üëå Simbol <i>Missing Data</i></b></h3>

Jika anda menemukan simbol seperti<br><br>
<center>
<table>
  <tr>
    <td align="center"><b>Simbol</b></td>
    <td align="center"><b>Sistem</b></td>
  </tr>
  <tr>
    <td align="center"><b>NULL</b></td>
    <td align="left">Database (SQL / NoSQL) dan beberapa bahasa pemrograman (C++, R)</td>
  </tr>
  <tr>
    <td align="center"><b>None</b></td>
    <td align="left">Python (Native)</td>
  </tr>
  <tr>
    <td align="center"><b>NA</b> atau <b>NaN</b> atau <b>NaT</b></td>
    <td align="left">Python dengan library tertentu (pandas / numpy)</td>
  </tr>
  <tr>
    <td align="center"><b>N/A</b></td>
    <td align="left">Excel</td>
  </tr>
  <tr>
    <td align="center">String Kosong, Simbol '-' atau teks lain</td>
    <td align="left">File format lain</td>
  </tr>
  <tr>
    <td align="center"><b>nil</b></td>
    <td align="left">Bahasa pemrograman Swift / Objective-C</td>
  </tr>
</table>
</center>
<br>

Maka ada data yang hilang (<i>Missing Data</i>) atau tidak terisi.

<h3><b>üóÑÔ∏è Jenis <i>Missing Data</i></b></h3>

1. <b>Missing Completely at Random (MCAR)</b><br>
Misalkan pengumpulan data tentang tinggi badan dari sekelompok responden. Namun, dalam proses pengumpulan data, beberapa responden tidak mengisi pertanyaan tentang tinggi badan mereka. Setelah dianalisis, tidak ada pola yang menghubungkan data yang hilang dengan nilai variabel lainnya. Dalam hal ini, data yang hilang dapat dianggap sebagai hilang secara acak tanpa adanya keterkaitan dengan variabel yang diamati (MCAR).

2. <b>Missing at Random (MAR)</b><br>
Misalkan data pendapatan dan jenis kelamin. Jika responden pria lebih cenderung tidak memberikan informasi tentang pendapatan mereka daripada responden wanita, tetapi setelah diketahui jenis kelaminnya, ketidaklengkapan data tidak lagi berkaitan dengan pendapatan, maka hilangnya data dapat dikategorikan sebagai MAR

3. <b>Missing Not at Random (MNAR)</b><br>
Misalkan dilakukan survei tentang kebiasaan merokok di antara responden. Beberapa responden yang merokok berat mungkin enggan mengungkapkan informasi tersebut dalam survei karena merasa malu atau karena alasan lain. Dalam hal ini, data tentang kebiasaan merokok responden yang merokok berat akan cenderung hilang (MNAR) karena adanya pola tersembunyi terkait dengan variabel yang hilang (kebiasaan merokok responden).
<br>
<img src="https://raw.githubusercontent.com/bachtiyarmawork/DQLab-Project/main/Pilot%20Class%20-%20Jenis%20Missing%20Data.png" width="600" height="245">

<h3><b>üîç Deteksi <i>Missing Data</i></b></h3>

Untuk mengetahui apakah sebuah data termasuk data yang hilang dapat menggunakan sintaks <br><br>

<center><code>DataFrame.isnull()</code> atau <code>DataFrame.isna()</code></center>

<br>Data yang ada akan diberi tanda **False** dan data yang hilang akan diberi tanda **True**<br>


docs : <i>https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isnull.html</i>

### üë®‚Äçüíª Task C1

Pada dataframe `data_inventory`, lakukan pemeriksaan kolom mana saja yang mempunyai *missing value* dan berapa jumlahnya?

Note :      
Untuk memeriksa apakah suatu nilai termasuk missing data gunakan sintaks

```
DataFrame.isnull()
```

Untuk memeriksa banyak nilai null pada setiap kolom tambahkan sintaks

```
DataFrame.isnull().sum()
```

<p align="right"><sup>docs : <i><a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isna.html">https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isnull.html</i></sup></a></p>

In [26]:
# Pemeriksaan nilai null pada data
data_inventory.isnull()

,sale_id,date,product_name,product_category,product_cost,product_price,units,store_name,store_city,store_location,store_open_date,stock_on_hand
0,False,False,False,False,False,True,False,False,False,False,False,False
1,True,True,False,False,False,True,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,False,False
3,False,False,False,False,False,True,False,False,False,False,False,False
4,False,False,False,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
199995,False,False,False,False,False,True,False,False,False,False,False,False
199996,False,False,False,False,False,True,False,False,False,False,False,False
199997,True,True,False,False,False,True,False,False,False,False,False,False
199998,True,False,False,False,False,True,False,False,False,False,False,False
199999,True,True,False,False,False,True,False,False,False,False,False,False

In [27]:
# Perhitungan banyak nilai null pada data
data_inventory.isnull().sum()

sale_id                 10
date                     6
product_name             0
product_category         0
product_cost             0
product_price       200000
units                    0
store_name               0
store_city               0
store_location           0
store_open_date          0
stock_on_hand          966
dtype: int64

### üë®‚Äçüíª Task C2

Pada dataframe `data_inventory`, tampilkan semua data dimana kolom sale_id nya kosong / berupa missing value

Note :      
Untuk memeriksa nilai null pada sebuah kolom gunakan sintaks

```
Series.isnull()
```

<p align="right"><sup>docs : <i><a href="https://pandas.pydata.org/docs/reference/api/pandas.Series.isna.html">https://pandas.pydata.org/docs/reference/api/pandas.Series.isna.html</i></sup></a></p>

In [28]:
# Buat kondisi dimana sale_id kosong
conditions = data_inventory['sale_id'].isnull()

# Tampilkan hasilnya
display(data_inventory.loc[conditions])

,sale_id,date,product_name,product_category,product_cost,product_price,units,store_name,store_city,store_location,store_open_date,stock_on_hand
1,NaN,NaN,Action Figure,Toys,158629.0,NaN,1,DQToys Jayapura 2,Jayapura,Downtown,2011-04-01,6.0
1999,NaN,02/01/2017,Lego Bricks,Toys,555597.0,NaN,1,DQToys Kupang 3,Kupang,Commercial,2014-06-27,21.0
8170,NaN,NaN,Colorbuds,Electronics,110992.0,NaN,3,DQToys Banda Aceh 2,Banda Aceh,Downtown,2014-03-18,54.0
17614,NaN,20/01/2017,Glass Marbles,Games,95114.0,NaN,1,DQToys Pekanbaru 1,Pekanbaru,Downtown,2010-09-08,20.0
43130,NaN,NaN,Toy Robot,Electronics,333295.0,NaN,1,DQToys Pekanbaru 1,Pekanbaru,Downtown,2010-09-08,23.0
58904,NaN,NaN,Colorbuds,Electronics,110992.0,NaN,1,DQToys Bandung 2,Bandung,Downtown,2003-12-25,10.0
90180,NaN,01/04/2017,Dart Gun,Sports & Outdoors,190386.0,NaN,1,DQToys Semarang 1,Semarang,Commercial,2003-12-13,18.0
199997,NaN,NaN,Animal Figures,Toys,158629.0,NaN,3,DQToys Samarinda 1,Samarinda,Downtown,2008-08-22,12.0
199998,NaN,02/07/2017,Deck Of Cards,Games,63356.0,NaN,2,DQToys Surabaya 1,Surabaya,Residential,1992-09-18,63.0
199999,NaN,NaN,PlayDoh Can,Art & Crafts,31599.0,NaN,1,DQToys Banjarmasin 2,BANJARMASIN,Commercial,2014-05-27,13.0

<h3><b>üí° Mengatasi <i>Missing Data</i></b></h3>

Untuk mengatasi hilangnya beberapa data yang telah diperoleh hal ini ada beberapa cara yang bisa dilakukan, diantaranya adalah :

1. Leave as it is (dibiarkan)
2. Filling the missing value (imputasi) with statistics value or other valid value
3. Drop them (hapus row yang mengandung missing value)


<p align="right"><sup>docs : <i><a href="https://pandas.pydata.org/docs/user_guide/missing_data.html">https://pandas.pydata.org/docs/user_guide/missing_data.html</i></sup></a></p>

<img src="https://i.imgur.com/68u0dD2.png">

<h3> <b>üö∂1. <i>Leave As It Is</i></b></h3>

Mengatasi missing data dengan cara meninggalkannya begitu saja (leave as it is) atau tidak melakukan tindakan apa pun terhadap nilai yang hilang disebut dengan *ignoring missing data* atau *leave as it is* (biarkan saja). Ini berarti Anda membiarkan missing data tetap ada dalam dataset tanpa melakukan imputasi atau penghapusan.


docs : https://pandas.pydata.org/docs/user_guide/missing_data.html

<h4><b>üìù Ketentuan</i></b></h4>

Beberapa alasan umum mengapa memilih untuk membiarkan *missing data*:

* Missing data termuat pada kolom yang tidak digunakan dalam analisa data, contoh : Missing data pada Alamat rumah, hal ini dikarenakan alamat sering tidak digunakan dalam proses analisa sehingga jika kolom tersebut tidak terisi maka lebih baik untuk membiarkan saja

<h3><b>üîó2. <i>Drop Missing Value</i></b></h3>

Menghapus data dengan nilai yang hilang adalah salah satu cara untuk mengatasi missing data, tetapi keputusan ini harus dibuat dengan hati-hati dan dipertimbangkan. Namun, penting untuk mempertimbangkan konsekuensi penghapusan data, terutama jika missing data tersebut tidak bersifat acak atau jika variabel yang dihapus memiliki signifikansi dalam analisis. Seperti kehilangan informasi, mengubah total sampel, mengubah nilai statistik secara signifikan, dll.

<img src="https://i.imgur.com/tBvdfyX.png">

<h4><b>üìù Ketentuan</i></b></h4>

Beberapa alasan umum mengapa memilih untuk menghapus missing data:

* **Pentingnya Data yang Hilang**: Jika data yang hilang tidak kritis untuk tujuan analisis atau tidak memiliki dampak signifikan pada kesimpulan, beberapa orang mungkin memilih untuk menghapusnya untuk menyederhanakan analisis.

* **Ketidakberdayaan untuk Diperbaiki**: Terkadang, missing data mungkin terjadi pada variabel atau kolom yang sulit atau tidak mungkin diimputasi dengan benar. Dalam situasi seperti itu, menghapus data yang hilang mungkin menjadi alternatif yang lebih baik daripada imputasi yang tidak dapat diandalkan.

* **Ukuran Sampel yang Cukup Besar**: Jika jumlah total data sangat besar dan jumlah missing data relatif kecil, menghapusnya mungkin tidak signifikan secara statistik.

* **Konsistensi dengan Tujuan Analisis**: Jika tujuan analisis lebih fokus pada data yang lengkap dan penghapusan data yang hilang tidak mengarah pada bias yang tidak diinginkan, maka ini mungkin dianggap sebagai langkah yang wajar
<br>

**[Contoh]** : Dalam sebuah transaksi, `transaksi_id` adalah sebuah kolom dengan urgensi nilai yang tinggi. Ketidakadaan data `transaksi_id` menyebabkan kecurigaan adanya kerusakan sistem atau ditengarai adanya manipulasi data dan juga `transaksi_id` biasanya dianggap sebagai identifikasi unik dan penting dalam melacak dan menganalisis transaksi. Hal ini dikarenakan `transaksi_id` adalah kode yang di-*generate* secara otomatis oleh *system* saat transaksi terjadi. Sehingga user sering kali akan menghapus data jika transaksi_id-nya kosong.
<br>

Untuk menghapus missing data pada DataFrame gunakan sintaks

<center><code>DataFrame.dropna(subset, how)</code></center>

dengan
* **subset** adalah list kolom yang terdapat *missing data* didalamnya
* **how** dapat diisi 'any' (jika salah satu berisi null) atau 'all' (jika semuanya list kolom yang disebutkan mengandung missing data)(
<br>

docs : https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html

### üë®‚Äçüíª Task C3

Pada dataframe `data_inventory`, hapus data dimana **sale_id** dan **date**-nya berupa missing value / NULL. Hal ini dilakukan karena data tersebut dianggap data tidak valid karena kerusakan sistem

Note :      
Untuk memeriksa nilai null pada sebuah kolom gunakan sintaks

```
DataFrame.dropna(subset)
```

<p align="right"><sup>docs : <i><a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html">https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html</i></sup></a></p>

In [29]:
# Periksa ukuran data sebelum di drop
data_inventory.shape

(200000, 12)

In [31]:
#cek data kosong
data_inventory[data_inventory[['sale_id', 'date']].isnull()]

,sale_id,date,product_name,product_category,product_cost,product_price,units,store_name,store_city,store_location,store_open_date,stock_on_hand
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
199995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
# Lakukan proses dropna
data_inventory = data_inventory.dropna(subset=['sale_id', 'date'])

# Periksa kembali ukuran
display(data_inventory.shape)

(199990, 12)

<h3><b>üß© 3. <i>Imputation</i></b></h3>

Proses imputasi merujuk pada metode atau teknik untuk mengisi nilai yang hilang dalam data. Ketika kita bekerja dengan data yang tidak lengkap, di mana beberapa nilai tidak tersedia atau hilang, imputasi digunakan untuk menggantikan nilai yang hilang dengan estimasi yang masuk akal berdasarkan informasi yang ada dalam data yang lengkap.

<h4><b>üìù Ketentuan</i></b></h4>

Ada beberapa alasan mengapa proses imputasi penting:

* **Mencegah kehilangan informasi:** Ketika kita memiliki data yang hilang, menghapus baris atau kolom yang mengandung nilai yang hilang dapat mengakibatkan kehilangan informasi yang berharga. Dengan mengimputasi nilai yang hilang, kita dapat mempertahankan sebagian besar data yang tersedia dan memaksimalkan penggunaannya.

* **Mempertahankan ukuran sampel yang cukup besar:** Dalam analisis statistik, ukuran sampel yang besar sering diinginkan untuk mendapatkan hasil yang lebih dapat diandalkan dan signifikan. Dengan mengisi nilai yang hilang, kita dapat mempertahankan ukuran sampel yang cukup besar dan mengurangi bias dalam analisis.

* **Meminimalkan distorsi hasil analisis:** Jika kita memiliki data yang hilang secara acak, menghapus baris atau kolom dengan nilai yang hilang dapat menghasilkan bias dalam analisis. Dengan mengimputasi nilai yang hilang, kita dapat meminimalkan distorsi hasil analisis dan menghasilkan estimasi yang lebih akurat.

* **Mempertahankan hubungan antar variabel:** Jika kita memiliki data yang hilang dalam beberapa variabel yang saling terkait, menghapus baris atau kolom dengan nilai yang hilang dapat mengganggu hubungan antar variabel tersebut. Dengan mengimputasi nilai yang hilang, kita dapat mempertahankan hubungan antar variabel yang penting dalam analisis.

* **Memungkinkan penggunaan algoritma yang mengharuskan data lengkap:** Beberapa algoritma atau metode analisis statistik memerlukan data yang lengkap untuk memberikan hasil yang valid. Dengan mengimputasi nilai yang hilang, kita dapat memungkinkan penggunaan algoritma ini dan memperoleh hasil yang akurat.

Proses imputasi dapat dilakukan menggunakan berbagai metode, seperti imputasi sederhana (seperti mengisi nilai yang hilang dengan rata-rata atau median), metode regresi, metode MICE, atau metode lainnya yang sesuai dengan karakteristik data dan tujuan analisis.

Untuk melakukan imputasi missing data pada Series gunakan sintaks

<center><code>Series.fillna(subset, how)</code></center>

dengan
* **subset** adalah list kolom yang terdapat *missing data* didalamnya
* **how** dapat diisi 'any' (jika salah satu berisi null) atau 'all' (jika semuanya list kolom yang disebutkan mengandung missing data)(
<br>

docs : https://pandas.pydata.org/docs/reference/api/pandas.Series.fillna.html

### üë®‚Äçüíª Task C4

Pada dataframe `data_inventory`, isilah kolom **product_price** dengan nilai median data tersebut

Note :      
Untuk menghitung nilai median gunakan sintaks berikut

```
Series.median()
```

<p align="right"><sup>docs : <i><a href="https://pandas.pydata.org/docs/reference/api/pandas.Series.median.html">https://pandas.pydata.org/docs/reference/api/pandas.Series.median.html</i></sup></a></p>


Sedangkan untuk melakukan proses imputasi data gunakan sintaks berikut

```
DataFrame.fillna(value)
```

<p align="right"><sup>docs : <i><a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html">https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html</i></sup></a></p>

In [34]:
#cek berapa yang kosong dan berapa yang isi
data_inventory['product_price'].isna()

0         True
2         True
3         True
4         True
5         True
          ...
199992    True
199993    True
199994    True
199995    True
199996    True
Name: product_price, Length: 199990, dtype: bool

In [35]:
# Hitung median pada kolom product_price
median_product_price = data_inventory['product_price'].median()

# Lakukan proses imputasi pada kolom product_price dengan nilai mediannya
data_inventory['product_price'] = data_inventory['product_price'].fillna(median_product_price)

### üë®‚Äçüíª Task C5

Pada dataframe `data_inventory`, isilah kolom **stock_on_hand** dengan nilai 0

In [36]:
data_inventory[data_inventory['stock_on_hand'].isna()]

,sale_id,date,product_name,product_category,product_cost,product_price,units,store_name,store_city,store_location,store_open_date,stock_on_hand
2789,2790.0,04/01/2017,Mini Basketball Hoop,Sports & Outdoors,142750.0,NaN,1,DQToys Makassar 1,Makassar,Downtown,2001-05-31,NaN
2818,2819.0,04/01/2017,Mini Basketball Hoop,Sports & Outdoors,142750.0,NaN,1,DQToys Makassar 1,Makassar,Downtown,2001-05-31,NaN
2864,2865.0,04/01/2017,Mini Basketball Hoop,Sports & Outdoors,142750.0,NaN,1,DQToys Makassar 1,Makassar,Downtown,2001-05-31,NaN
2880,2881.0,04/01/2017,Mini Basketball Hoop,Sports & Outdoors,142750.0,NaN,1,DQToys Makassar 1,Makassar,Downtown,2001-05-31,NaN
3124,3125.0,04/01/2017,Mini Basketball Hoop,Sports & Outdoors,142750.0,NaN,1,DQToys Makassar 1,Makassar,Downtown,2001-05-31,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
199562,199563.0,02/07/2017,Jenga,Games,47477.0,NaN,1,DQToys Bandung 4,Bandung,Commercial,2015-11-21,NaN
199601,199602.0,02/07/2017,Jenga,Games,47477.0,NaN,1,DQToys Bandung 4,Bandung,Commercial,2015-11-21,NaN
199811,199812.0,02/07/2017,Jenga,Games,47477.0,NaN,1,DQToys Bandung 4,Bandung,Commercial,2015-11-21,NaN
199826,199827.0,02/07/2017,Jenga,Games,47477.0,NaN,1,DQToys Bandung 4,Bandung,Commercial,2015-11-21,NaN
199967,199968.0,02/07/2017,Jenga,Games,47477.0,NaN,1,DQToys Bandung 4,Bandung,Commercial,2015-11-21,NaN

In [37]:
# Lakukan proses imputasi pada kolom stock_on_hand dengan nilai 0
data_inventory['stock_on_hand'] = data_inventory['stock_on_hand'].fillna(0)

In [38]:
# Periksa kembali informasi umum pada data yang telah dilakukan transformasi sejauh ini
data_inventory.info()

<class 'pandas.core.frame.DataFrame'>
Index: 199990 entries, 0 to 199996
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   sale_id           199990 non-null  float64
 1   date              199990 non-null  object
 2   product_name      199990 non-null  object
 3   product_category  199990 non-null  object
 4   product_cost      199990 non-null  float64
 5   product_price     0 non-null       float64
 6   units             199990 non-null  int64
 7   store_name        199990 non-null  object
 8   store_city        199990 non-null  object
 9   store_location    199990 non-null  object
 10  store_open_date   199990 non-null  object
 11  stock_on_hand     199990 non-null  float64
dtypes: float64(4), int64(1), object(7)
memory usage: 19.8+ MB

---

#üìë **D. Redudansi Data**

Redudansi data adalah duplikasi atau penyimpanan data yang sama secara berulang dalam satu atau lebih tabel, sehingga data yang sama di simpan di dalam lebih dari 1 lokasi.

Data bisa terjadi duplikasi karena kesalahan manusia (<i>Human Error</i>) atau bisa jadi karena kesalahan sistem. Untuk mengatasinya kadang perlu diperiksa terlebih dahulu baru akan dilakukan tindakan seperti membiarkan saja atau perlu di hapus

<p align="right"><sup>docs : <i><a href="https://pandas.pydata.org/docs/user_guide/duplicates.html">https://pandas.pydata.org/docs/user_guide/duplicates.html</i></sup></a></p>

### üë®‚Äçüíª Task D1

Pada dataframe `data_inventory`, lakukan pemeriksaan terhadap kolom **sale_id** yang mempunyai *duplicated value* dan berapa jumlahnya?

Note :      
Untuk memeriksa banyak nilai duplikat pada kolom tertentu gunakan sintaks

```
DataFrame.duplicated(subset, keep = False).sum()
```

<p align="right"><sup>docs : <i><a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html">https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html</i></sup></a></p>

In [47]:
# Periksa duplikasi kolom sale_id dan hitung
data_inventory.duplicated(subset=['sale_id'], keep = False).sum()

21

Setelah itu tampilkan data duplikat untuk diperiksa

In [48]:
# Buat kondisi
conditions = data_inventory.duplicated(subset = ['sale_id'], keep = False)


# Tampilkan hasilnya
display(data_inventory.loc[conditions].sort_values(by = 'sale_id'))

,sale_id,date,product_name,product_category,product_cost,product_price,units,store_name,store_city,store_location,store_open_date,stock_on_hand
10,12.0,01/01/2017,Deck Of Cards,Games,Rp. 63356,Rp. 110992,1,DQToys Semarang 1,Semarang,Commercial,2003-12-13,50.0
11,12.0,01/01/2017,Deck Of Cards,Games,Rp. 63356,Rp. 110992,1,DQToys Tarakan 1,Tarakan,Downtown,2013-06-07,68.0
1993,1995.0,02/01/2017,Dart Gun,Sports & Outdoors,Rp. 190386,Rp. 253901,1,DQToys Jakarta 2,Jakarta,Airport,2012-05-04,18.0
1994,1995.0,02/01/2017,PlayDoh Toolkit,Art & Crafts,Rp. 63356,Rp. 79235,3,DQToys Jayapura 1,Jayapura,Commercial,2008-12-16,27.0
18170,18172.0,20/01/2017,Lego Bricks,Toys,Rp. 555597,Rp. 634991,1,DQToys Kendari 1,Kendari,Downtown,2014-06-30,16.0
18171,18172.0,20/01/2017,Colorbuds,Electronics,Rp. 110992,Rp. 238022,1,DQToys Surabaya 3,Surabaya,Airport,2011-10-20,18.0
20980,18172.0,22/01/2017,Glass Marbles,Games,Rp. 95114,Rp. 174507,1,DQToys Banjarmasin 2,Banjarmasin,Commercial,2014-05-27,13.0
11110,22222.0,12/01/2017,Rubik's Cube,Games,Rp. 285659,Rp. 317416,1,DQToys Manado 1,Manado,Downtown,2007-01-31,10.0
22221,22222.0,24/01/2017,Colorbuds,Electronics,Rp. 110992,Rp. 238022,1,DQToys Kupang 3,Kupang,Commercial,2014-06-27,29.0
33332,22222.0,04/02/2017,Action Figure,Toys,Rp. 158629,Rp. 253901,1,DQToys Banjarmasin 2,Banjarmasin,Commercial,2014-05-27,10.0
44443,22222.0,15/02/2017,Glass Marbles,Games,Rp. 95114,Rp. 174507,1,DQToys Jayapura 1,Jayapura,Commercial,2008-12-16,4.0
1,NaN,NaN,Action Figure,Toys,Rp. 158629,Rp. 253901,1,DQToys Jayapura 2,Jayapura,Downtown,2011-04-01,6.0
1999,NaN,02/01/2017,Lego Bricks,Toys,Rp. 555597,Rp. 634991,1,DQToys Kupang 3,Kupang,Commercial,2014-06-27,21.0
8170,NaN,NaN,Colorbuds,Electronics,Rp. 110992,Rp. 238022,3,DQToys Banda Aceh 2,Banda Aceh,Downtown,2014-03-18,54.0
17614,NaN,20/01/2017,Glass Marbles,Games,Rp. 95114,Rp. 174507,1,DQToys Pekanbaru 1,Pekanbaru,Downtown,2010-09-08,20.0
43130,NaN,NaN,Toy Robot,Electronics,Rp. 333295,Rp. 412689,1,DQToys Pekanbaru 1,Pekanbaru,Downtown,2010-09-08,23.0
58904,NaN,NaN,Colorbuds,Electronics,Rp. 110992,Rp. 238022,1,DQToys Bandung 2,Bandung,Downtown,2003-12-25,10.0
90180,NaN,01/04/2017,Dart Gun,Sports & Outdoors,Rp. 190386,Rp. 253901,1,DQToys Semarang 1,Semarang,Commercial,2003-12-13,18.0
199997,NaN,NaN,Animal Figures,Toys,Rp. 158629,Rp. 206265,3,DQToys Samarinda 1,Samarinda,Downtown,2008-08-22,12.0
199998,NaN,02/07/2017,Deck Of Cards,Games,Rp. 63356,Rp. 110992,2,DQToys Surabaya 1,Surabaya,Residential,1992-09-18,63.0
199999,NaN,NaN,PlayDoh Can,Art & Crafts,Rp. 31599,Rp. 47477,1,DQToys Banjarmasin 2,BANJARMASIN,Commercial,2014-05-27,13.0

### üë®‚Äçüíª Task C2

Hapus row yang duplikat pada bagian sale_id dan keep bagian terakhir

Gunakan sintaks berikut untuk menghapus data duplikat

```
DataFrame.drop_duplicates(subset, keep)
```

<p align="right"><sup>docs : <i><a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html">https://pandas.pydata.org/docs/reference/api/pandas.Series.drop_duplicates.html</i></sup></a></p>

In [42]:
# Periksa ukuran data sebelum di drop
data_inventory = display(data_inventory.shape)

(199990, 12)

In [ ]:
# Hapus data duplikat pada kolom sale_id

data_inventory = data_inventory.drop_duplicates(subset = ['sale_id'], keep = 'last')

In [ ]:
# Periksa ukuran data sebelum di drop
display(data_inventory.shape)

(199984, 12)

In [ ]:
# Tampilkan hasil akhir data yang telah dibersihkan
data_inventory

,sale_id,date,product_name,product_category,product_cost,product_price,units,store_name,store_city,store_location,store_open_date,stock_on_hand
0,1,2017-01-01,Chutes & Ladders,Games,158629.0,206265.0,1,DQTOYS PADANG 1,PADANG,Downtown,2010-07-31,1.0
2,3,2017-01-01,Deck Of Cards,Games,63356.0,110992.0,1,DQTOYS SEMARANG 1,SEMARANG,Commercial,2003-12-13,50.0
3,4,2017-01-01,Dart Gun,Sports & Outdoors,190386.0,253901.0,1,DQTOYS MEDAN 2,MEDAN,Commercial,2016-03-23,28.0
4,5,2017-01-01,Lego Bricks,Toys,555597.0,634991.0,1,DQTOYS JAYAPURA 3,JAYAPURA,Residential,2014-12-27,117.0
5,6,2017-01-01,Splash Balls,Sports & Outdoors,126871.0,142750.0,1,DQTOYS SURABAYA 1,SURABAYA,Residential,1992-09-18,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...
199992,199993,2017-07-02,Action Figure,Toys,158629.0,253901.0,1,DQTOYS JAYAPURA 3,JAYAPURA,Residential,2014-12-27,0.0
199993,199994,2017-07-02,Action Figure,Toys,158629.0,253901.0,1,DQTOYS JAKARTA 4,JAKARTA,Commercial,2015-06-21,26.0
199994,199995,2017-07-02,Plush Pony,Toys,142750.0,317416.0,1,DQTOYS SURABAYA 2,SURABAYA,Commercial,1999-12-27,0.0
199995,199996,2017-07-02,Deck Of Cards,Games,63356.0,110992.0,1,DQTOYS BANDA ACEH 1,BANDA ACEH,Commercial,2010-06-12,32.0
199996,199997,2017-07-02,PlayDoh Can,Art & Crafts,31599.0,47477.0,1,DQTOYS SAMARINDA 1,SAMARINDA,Downtown,2008-08-22,74.0

**Written By :** <br>
<a href="https://www.linkedin.com/in/m-faqih-arya-darmawan-9434b3251/"><img alt="Linked In Link" src="https://img.shields.io/badge/-M.Faqih Arya Darmawan-0072b1?style=for-the-badge&logo=None&logoColor=white" align="left"/></a>

<br><br>**for :**

<a href="https://dqlab.id/"><img src="https://dqlab.id/files/dqlab/cache/87e30118ebba5ec7d96f6ea8c9dcc10b_x_118_X_55.png" align="left" /></a>